<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>出欠管理システム</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">2月15日(金) 本日の出席予定</a>

        <div class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {%  if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'attendance:index' %}">お子さんの予定一覧</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:attendance_attendance_add' %}">情報追加</a>
                </li>
                {%  endif %}
            </ul>
        </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>
