<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>出欠管理システム</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">2月15日(金) 本日の出席予定</a>
        <div class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'attendance:index' %}">お子さんの予定一覧</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:attendance_attendance_add' %}">情報追加</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% include "attendance/kid_information_list.html" %}
    {% include "attendance/calendar.html" %}
</body>
</html>
