{% load static %}
<div id='calendar'></div>

<!-- Event Details Modal -->
<div class="modal fade" id="eventDetailsModal" tabindex="-1" aria-labelledby="eventDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventDetailsModalLabel">イベント詳細</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="eventDate" class="event-details"></p>
                <p id="eventTime" class="event-details"></p>
                <p id="eventStatus" class="event-details"></p>
                <p id="transportationDetails" class="event-details"></p>
                <p id="absenceReason" class="event-details" style="display:none;"></p> <!-- 欠席理由フィールド -->
                <p id="eventInputter" class="event-details"></p> <!-- 入力者フィールド -->
                <p id="eventUpdater" class="event-details" style="display:none;"></p> <!-- 更新者フィールド -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                <button type="button" class="btn btn-primary edit-button" data-bs-toggle="modal" data-bs-target="#editEventModal" data-recipient-number="{{ event.recipient_number }}" data-calendar-date="{{ event.calendar_date|date:'Y-m-d' }}">
                    編集
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Event Modal -->
<div class="modal fade" id="editEventModal" tabindex="-1" aria-labelledby="editEventModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editEventModalLabel">イベント情報の編集</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editEventForm">
                    <!-- 日付 -->
                    <div class="form-group mb-3">
                        <label for="edit_calendar_date_display" class="form-label">日付</label>
                        <p id="edit_calendar_date_display" class="form-control-plaintext"></p>
                        <input type="hidden" id="edit_calendar_date" name="calendar_date">
                    </div>
                    <!-- 出席状態の選択 -->
                    <div class="form-group mb-3">
                        <label for="edit_status" class="form-label">出席状態:</label>
                        <select id="edit_status" name="status" class="form-control" onchange="toggleFields(this.value)">
                            <option value="PR">出席</option>
                            <option value="AB">欠席</option>
                        </select>
                    </div>
                    <!-- 送迎サービス（往路）の選択 -->
                    <div class="form-group mb-3 transportation-group">
                        <label for="edit_transportation_to" class="form-label">送迎サービス（往路）:</label>
                        <select id="edit_transportation_to" name="transportation_to" class="form-control">
                            <option value="US">利用</option>
                            <option value="NU">未利用</option>
                        </select>
                    </div>
                    <!-- 送迎サービス（復路）の選択 -->
                    <div class="form-group mb-3 transportation-group">
                        <label for="edit_transportation_from" class="form-label">送迎サービス（復路）:</label>
                        <select id="edit_transportation_from" name="transportation_from" class="form-control">
                            <option value="US">利用</option>
                            <option value="NU">未利用</option>
                        </select>
                    </div>
                    <!-- 欠席理由 -->
                    <div class="form-group mb-3 absence-group">
                        <label for="edit_absence_reason" class="form-label">欠席理由</label>
                        <textarea class="form-control" id="edit_absence_reason" name="absence_reason" rows="3"></textarea>
                    </div>
                    <!-- 更新者 -->
                    <div class="form-group mb-3">
                        <label for="edit_updater" class="form-label">更新者</label>
                        <input type="text" class="form-control" id="edit_updater" name="updater">
                    </div>
                    <!-- 隠しフィールド：開始時間 -->
                    <input type="hidden" id="edit_start_time" name="start_time">
                    <!-- 隠しフィールド：終了時間 -->
                    <input type="hidden" id="edit_end_time" name="end_time">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="submitEditEvent()">更新</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>

<!-- Event Modal -->
<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventModalLabel">出席情報の入力</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="eventForm">
                    <!-- 日付 -->
                    <div class="form-group">
                        <label for="calendar_date_display" class="form-label">日付</label>
                        <p id="calendar_date_display" class="form-control-plaintext"></p>
                        <input type="hidden" id="calendar_date" name="calendar_date">
                    </div>
                    <!-- 出席状態の選択 -->
                    <div class="form-group">
                        <label for="status" class="form-label">出席状態:</label>
                        <select id="status" name="status" class="form-control" onchange="toggleFields(this.value)">
                            <option value="PR">出席</option>
                            <option value="AB">欠席</option>
                        </select>
                    </div>
                    <!-- 送迎サービス（往路）の選択 -->
                    <div class="form-group transportation-group">
                        <label for="transportation_to" class="form-label">送迎サービス（往路）:</label>
                        <select id="transportation_to" name="transportation_to" class="form-control">
                            <option value="US">利用</option>
                            <option value="NU">未利用</option>
                        </select>
                    </div>
                    <!-- 送迎サービス（復路）の選択 -->
                    <div class="form-group transportation-group">
                        <label for="transportation_from" class="form-label">送迎サービス（復路）:</label>
                        <select id="transportation_from" name="transportation_from" class="form-control">
                            <option value="US">利用</option>
                            <option value="NU">未利用</option>
                        </select>
                    </div>
                    <!-- 欠席理由 -->
                    <div class="form-group absence-group">
                        <label for="absence_reason" class="form-label">欠席理由</label>
                        <textarea class="form-control" id="absence_reason" name="absence_reason" rows="3"></textarea>
                    </div>
                    <!-- 入力者 -->
                    <div class="form-group">
                        <label for="inputter" class="form-label">入力者</label>
                        <input type="text" class="form-control" id="inputter" name="inputter">
                    </div>
                    <!-- 隠しフィールド：開始時間 -->
                    <input type="hidden" id="start_time" name="start_time">
                    <!-- 隠しフィールド：終了時間 -->
                    <input type="hidden" id="end_time" name="end_time">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                <button type="button" class="btn btn-primary" onclick="submitEvent()">保存</button>
            </div>
        </div>
    </div>
</div>
