{% extends 'attendance/base.html' %}
{% block content %}
<table class="table table-bordered mt-8">
    <thead>
        <tr>
            <th>ID</th>
            <th>姓</th>
            <th>名</th>
            <th>出席/欠席</th>
        </tr>
    </thead>
    <tbody>
        {% for info in kid_information_list %}
        <tr>
            <td>{{ info.pk }}</td>
            <td>{{ info.family_name }}</td>
            <td>{{ info.first_name }}</td>
            <td>{{ info.attendance.get_choice_display }}</td>
            <td>{{ info.updated_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
